/**
 * Mixins file
 *
 * Author: Tomasz Ngondo <tomasz.ngondo@outlook.fr>
 * Copyright 2017
 */

 // Mixins
 @mixin prefix($declarations, $prefixes: ()) {
	@each $property, $value in $declarations {
    	@each $prefix in $prefixes {
      		#{'-' + $prefix + '-' + $property}: $value;
    	}
    	#{$property}: $value;
  	}
}

// Vars
$first-color: #a9a9a9;
$second-color: #ffffff;
$third-color: #efefef;
$fourth-color: #ff3b3f;