<!DOCTYPE html>

<html lang="fr">
    <head>
        <title>{{ app_name }}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
            {% stylesheets 
                'bundles/core/css/vendor/*.min.css' 
                'bundles/core/scss/main.scss' 
                filter='cssrewrite, scssphp' %}
                <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock stylesheets %}
    </head>

    {% if app.request.requestUri|trim('/') == '' and app.user is null %}
        {% set page = 'register' %}
    {% elseif app.request.requestUri|trim('/') == '' and app.user is not null %}
        {% set page = 'home' %}
    {% else %}
        {% set page = app.request.requestUri|trim('/') %}
    {% endif %}

    <body class="{{ page }}">
        {% block widgets %}
        {% endblock widgets %}

        {% block content %}
            {% block header %}
            {% endblock header %}

            {% block footer %}
            {% endblock footer %}
        {% endblock content %}

        {% block javascripts %}
            {% javascripts
                'bundles/core/js/vendor/jquery.min.js'
                'bundles/core/js/main.js'
                filter='jsqueeze' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascripts %}
    </body>
</html>