<!DOCTYPE html>

<html lang="en">
    <head>
        <title>cms</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            {% stylesheets 
                'bundles/core/css/vendor/*.min.css' 
                'bundles/core/scss/main.scss' 
                filter='cssrewrite, scssphp' %}
                <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock stylesheets %}
    </head>

    <body>
        {% block header %}
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        {% endblock footer %}

        {% block javascripts %}
            {% javascripts
                'bundles/core/js/vendor/jquery.min.js'
                'bundles/core/js/vendor/jqueryui.min.js'
                'bundles/core/js/main.js'
                filter='jsqueeze' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascripts %}
    </body>
</html>