{% extends 'BZMWebsiteBundle::layout.html.twig' %}

{% block content %}
    <main>
        <section>
            <p>Website home page :)</p>
            <a class="btn nav-link" href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
        </section>
    </main>
{% endblock content %}