{% extends 'BZMCoreBundle::layout.html.twig' %}

{% block header %}
{% endblock header %}

{% block content %}
    {% trans_default_domain 'BZMCoreBundle' %}

    <main>
        {% block banner %}
            {{ parent() }}
        {% endblock banner %}

        <section class="text-center">
            <h4>{{ 'error404.title'|trans }}</h4>
            <p>{{ 'error404.content'|trans }}</p>
        </section>
    </main>
{% endblock content %}

{% block footer %}
{% endblock footer %}