{% extends 'BZMCoreBundle:core:layout.html.twig' %}

{% block head %}
    <title>{{ status_text }}</title>
    <link rel="icon" type="image/svg" href="bundles/bzmcore/images/app_logo.svg" />
{% endblock head %}

{% block header %}
{% endblock header %}
