/**
 * Main CSS file
 *
 * Author: Tomasz Ngondo <tomasz.ngondo@outlook.fr>
 * Copyright 2017
 */

@import 'mixins.scss';

// Main tags
html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    font-family: textFont;
}

a:hover {
    text-decoration: none;
}

// Main classes
.warning-color {
    color: $fourth-color;
}

// Main widgets
#visit_bgd_fader, #visit_bgd_image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

// Custom classes
.btn {
    font-family: textFont;
    cursor: pointer;
}

.btn-secondary {
    background-color: $fourth-color;
    border-color: $fourth-color;
}

#visit_bgd_image {
    opacity: 0.3;
    background-image: url('../images/visitor_bgd_image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body.cover,
body.install,
body.login,
body.register,
body.error-page {
    header {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        nav {
            height: 56px;
            position: relative;

            ul {
                width: 100%;

                li {
                    margin-left: auto;
                }
            }
        }
    }

    figure {
        @include calc(height, '100% - 56px');
        position: relative;
        margin: 0;
        text-align: center;
        font-family: titleFont;

        .app-logo {
            width: 150px;
            height: 150px;
            display: block;
            z-index: 1;
            opacity: 0.8;
            background-image: url('../images/app_logo.svg');
            background-repeat: no-repeat;
            background-position-y: -33px;
            background-size: cover;
        }

        div:nth-child(2) {
            @include calc(height, '100% - 150px');
            user-select: none;
            cursor: context-menu;

            h1 {
                margin: 0;
                font-size: 8em;
                line-height: 0.8;
            }
        }
    }

    main {
        position: absolute;
        top: 50%;
        left: 50%;
        @include prefix((
            transform: translate(-50%, -50%)
        ), webkit moz ms o);

        section {
            margin-top: 50px;

            h5 {
                font-family: titleFont;
                font-size: 2em;
                margin-bottom: 30px;
                @include no-select();
            }

            h4 {
                font-family: titleFont;
                font-size: 2em;
                @include no-select();
            }

            p {
                margin: 25px;
                @include no-select();
            }

            form {
                div {
                    label {
                        @include no-select();
                    }
    
                    textarea {
                        max-height: 140px;
                    }
                }
            }
        }
    }
    
    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;

        div {
            p {
                margin: 0;
                @include no-select();
            }

            a {
                display: flex;
                font-size: 48px;
                color: black;
            }
        }
    }
}
